html {
  scroll-behavior: smooth;
}

body{
  background-color: #EEE7FF;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-css{
    display: flex;
    background-color: #202E5A;
    height: 112px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    top:0px;
    z-index: 9999;
}

.navbar-btn{
  color: white;
  margin-left: 25px;
}

.banner-container {
  width: 100%;
}

.banner-float{
    width: 50%;
    float: left;
    padding: 5%;
}

.banner-btn{
  border: none;
  background-color: #415AA7;
  color:white;
  border-radius: 41px;
  width: 35%;
  height: 65px;
}

.banner-btn:hover{
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(89, 113, 185);
  color:white;
}

.banner-info{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.250em;
}


.main-container{
  margin-top:45%;
  background-color: #FFFFFF;
  position: block;
  height: 1400px;
  width: 100%;
  padding: 15%;
} 

.main-title{
  position: block;
  margin-top: -200px;
  color: black; 
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.105em;
  padding-bottom: 15px;

}

.main-float{
  width: 40%;
  float: left;
  border: 5%;
  height: 500px;
}

.third-container{
  height: 1500px;
}

.info-banner{
    font-size: 48px;
    letter-spacing: 0.325em;
}

.about-us{
  height: 150px;
  letter-spacing: 0.105em;
}

.contact-us{
  height: 150px;
  letter-spacing: 0.105em;
}

.cp{
  height: 170px;
  font-size: 20px;
  letter-spacing: 0;
}

.input-email{
  position: relative;
  height:120px;
  margin-left: 30%;
  margin-top: 41px;

}

form{
  display: flex;
}

.input-email input{
  box-sizing: border-box;
  font-size: 20px;
}

.input-email input[type="text"]{
  display: inline-block;
  width: 500px;
  height: 65px;
  outline: none;
  border-radius: 50px 0px 0px 50px;
  border-width: 0.02px;
  padding-left: 60px;
}

.input-email input[type="text"]::placeholder{
  font-size: 20px;
  color: black;
  text-align: left;
}

.input-email input[type="submit"]{
    background:#415AA7;
    height: 65px;
    width: 150px;
    border-radius: 0 50px 50px 0;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: none;
}

.form-input[type="text"]::-webkit-input-placeholder { /* For Chrome/Opera/Safari */
  color:black;
  opacity: 1;
}
.form-input[type="text"]::-moz-placeholder { /* For Firefox 19+ */
  color: black;
  opacity: 1;
}
.form-input[type="text"]:-ms-input-placeholder { /* For IE 10+ */
  color: black;
  opacity: 1;
}
.form-input[type="text"]:-moz-placeholder { /* For Firefox 18- */
  color: black;
  opacity: 1;
}

#penjelasan-himti{
  font-size: 22px;
  letter-spacing: 0;
  text-align: justify;
  line-s
}

#laptop img{
  position: relative;
  width: 100%;
  float: end;
  
}

#register-btn{
  width: 200px;

}

.workshop{
  font-size: 30px; 
}

.footer{
  background-color: #202E5A;
  height: 350px;
  width: 100%;
  bottom: 0px;
  font-size: 24px;

}

.top-footer{
  height: 310px;
  position: relative;
}

.mid-footer-right {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
  width: 220px;
}

.mid-footer-right1 {
  position: relative;
  height: 40px;
}


.mid-footer-left {
  position: absolute;
  margin: 0;
  left: 120px;
  width: 600px;
  height: 240px;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}

img.himti {
  position: absolute;
  left: 0px;
}

img.binus {
  position: absolute;
  right: 0px;
}

p.mid-white {
  text-align-last: center;
  color: #FFFFFF;
  vertical-align: middle;
  font-family: 'Nunito Sans', sans-serif;
}

.bottom-footer{
  height: 40px;
}
.register-form
{ 
  display: table;     
 
}
/*input { display: table-cell; }*/
/*p     { display: table-row;  }*/
/*label { display: table-cell; }*/

/* .navbar-css{
    display: flex;
    background-color: #202E5A;
    height: 112px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    top:0px;
    z-index: 9999;
} */